.navbar a{
    float: left;
    color: #000000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    transition-duration: 0.5s;
}
.navbar {
    background-color: #FFA500;
    overflow: hidden;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.navbar a:hover{
    background-color: #87CEFA;
}
body {
    background-color: #333333;
}
input[type=text], select { 
    width: 500px;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 500px;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
input[type=reset] {
    width: 500px;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.input [type=file] select {
    width: 500px;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
.form {
    color: white;
    text-align: center;
}
.b {
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    text-decoration: dotted;
    list-style-type: circle;
}
.c {
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    text-decoration: dotted;
    list-style-type: circle;
}
.hlavni {
    text-align: center;
    list-style-position: inside;
    font-size: 150%;
}
.header {
    color: rgb(0, 0, 0);
    background-color: #FFA500;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 200%;
}
#gallery {
    line-height: 0;
    -webkit-column-count: 2;
    -webkit-column-gap: 5px;
    -moz-column-count: 5;
    -moz-column-gap: 5px;
    column-count: 5;
    column-gap: 5px;
}
#gallery img {
    width: 100% !important;
    height: auto !important;
    margin-bottom: 5px;
}
.footer {
    background-color: #FFA500;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    text-decoration: none;
}
.footer a {
    color: rgb(0, 0, 0);
    text-decoration: none;
}